@page "/"
@inherits BlazorStateComponent

<PageTitle>Wagr</PageTitle>

@if (string.IsNullOrEmpty(Account.Account.Email))
{
    <h1>Welcome to the new beginning</h1>
}
else
{
    <h1>Welcome to your new beginning @Account.Account.Email</h1>
    <h2>Your wallet Id is: @Account.Account.Wallet.WalletId</h2>
    <h3>Here are you balances</h3>
    @foreach(var balance in Account.Account.Wallet.Balances)
    {
        <h6>Amount: @balance.Amount</h6>
        <h6>Currency: @balance.Currency</h6>
    }
}

<button id="Login" @onclick="NavigateToCreateAccount">Login</button>