@page "/Account/Login"
@inherits BlazorStateComponent


<MudButton OnClick="@LoginUser">Login</MudButton>

<h5>Don't have an account?</h5>
<button id="Login" @onclick="NavigateToCreateAccount">Create Account</button>