@page "/Account/AddPaymentMethod"

<h3>Add Payment Method</h3>

<CardInput @bind-CardNumber="CardNumber"/>
<br/>
@*
<MudTextField @bind-Value="CVV" label="CVV" Variant="Variant.Text" MaxLength="4" type='number' id="cvv"/>*@
<CVVInput @bind-Cvv="CVV"/>
<br/>
 
@*<MudTextField @bind-Value="ExpMonth" label="Exp Month" Variant="Variant.Text" type="number" min="1" max="12" MaxLength="2"/> <MudTextField @bind-Value="ExpYear" Variant="Variant.Text" label="Exp Year" type="number" min="2021" MaxLength="4"/>*@
<CardExpiry @bind-Expiration="Expiry" />
<br/>


<h3>Billing Details</h3>
<MudTextField @bind-Value="Name" label="Cardholder Name" Variant="Variant.Text" />
<br/>
<MudTextField @bind-Value="Address1" label="Address 1" Variant="Variant.Text" />
<br/>
<MudTextField @bind-Value="Address2" label="Address 2" Variant="Variant.Text" />
<br/>
<MudTextField @bind-Value="City" label="City" Variant="Variant.Text"/>
<br/>
<MudTextField @bind-Value="District" label="State/Province" Variant="Variant.Text"/>
<br/>
<MudTextField @bind-Value="PostalCode" label="PostalCode" Variant="Variant.Text"/>
<br/>
<MudTextField @bind-Value="Country" label="Country Code" Variant="Variant.Text"/>
<br/>
<MudTextField @bind-Value="PhoneNumber" label="Phone Number" Variant="Variant.Text"/>
<br/>
<MudTextField @bind-Value="Email" label="Email" Variant="Variant.Text"/>
<br/>
<br/>
<br/>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="CreatePayment">Add Payment Method</MudButton>