@page "/Account/AddPaymentMethod"

<h3>Add Payment Method</h3>

<input @bind="CardNumber" placeholder="CardNumber" type='number' id="cardNumber"/>

<input @bind="CVV" placeholder="CVV" type='number' id="cvv"/>
 
<input @bind="ExpMonth" placeholder="Exp Month"/> <input @bind="ExpYear" placeholder="Exp Year"/>

<input @bind="Description" placeholder="Description"/>

<input @bind="Channel" placeholder="Channel"/>

<br/>
<br/>

<button @onclick="MakePayment">Fund Wallet</button>